.skills{
	&-title{
		@include titleSection();
	}
	&-item{
		width:25%;
		margin: 4%;

		filter: url('#grayscale');
		filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
		filter: Gray(); /* IE4-8 and 9 */

		transition: all 0.3s ease;
		&:hover{ 
			filter: none;

			transition: all 0.3s ease;
		}
	}
	.css{
		padding:7px;
	}
}
