doctype html5
html(lamg="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/tsofCdvL6bbZCXh7rgGmJb/icons.css")
		link(rel="stylesheet", href="css/main.css")
		title
	body
		header.header.ed-container
			input(type="checkbox", role="button", title="menu")#navcheck.check-menu
			label(for="navcheck", aria-hidden="true", title="menu").label-menu
				span.burger
					span.bar
						span.visuallyhidden Menu
			nav#menu.menu
				a(href="#")
					img.menu-logo(src="/img/logov6.png")
				a(href="#") Inicio
				a(href="#") Sobre Mi
				a(href="#") Skills
				a(href="#") Portafolio
				a(href="#") Hablame!
			img.ed-item(src="img/logov6.png").header-logo.s-20.l-5.m-10

		section.inicio
			.ed-container
				h1.inicio-name Juan Ramirez
				h2.inicio-subtitle Web Developer
				.sociales
					a.sociales-item(href="#").icon-facebook
					a.sociales-item(href="#").icon-twitter
					a.sociales-item(href="#").icon-linkedin
					a.sociales-item(href="#").icon-github-alt
					a.sociales-item(href="#").icon-commenting-o

		section.about
			h1.about-title Sobre Mi
			img(src="img/juanramirez-perfil.png", alt="").about-img
			p.about-text
				|Hola mundo! 
			p.about-text
				|Mi nombre es Juan Ramirez Analista Programador de profesión pero  Web Developer de oficio.
			p.about-text
				|De niño siempre quise ser arquitecto pero con el tiempo |me fui dando cuenta que nací con una severa falta de |motricidad fina por lo que cambie mi norte hacia la |tecnología. Desde ese momento empecé a consumir |información como si no hubiera un mañana, hoy con 26 años |llevo alrededor de 4 enfocado a la web, tratando de |conocer todas las tecnologías que aparecen.
			p.about-text
				|Hoy estoy embarcado en un gran proyecto personal, llevar |la web a todo nuevo negocio que se pueda beneficiar de |ella, como dicen por ahí “si no estás en Google no |existes”, esa es la realidad de cientos de proyectos que |mueren cada año y que a través de nuestro trabajo |intentamos revertir.
			p.about-text
				|Codear es lo que apaciona, eso y el buen rock! 

		section.skills
				h1.skills-title Mis Skills
				img(src="img/skills/html5.png", alt="").skills-item
				img(src="img/skills/css3.png", alt="").skills-item.css
				img(src="img/skills/js.png", alt="").skills-item
				img(src="img/skills/pug.png", alt="").skills-item
				img(src="img/skills/sass.png", alt="").skills-item
				img(src="img/skills/jquery.png", alt="").skills-item
				img(src="img/skills/wordpress.png", alt="").skills-item
				img(src="img/skills/C-Sharp.png", alt="").skills-item
				img(src="img/skills/mysql_logo.png", alt="").skills-item
				img(src="img/skills/angular2.png", alt="").skills-item
				img(src="img/skills/java.png", alt="").skills-item
				img(src="img/skills/Bootstrap.png", alt="").skills-item
				img(src="img/skills/github.png", alt="").skills-item
				img(src="img/skills/Gulp.png", alt="").skills-item
				img(src="img/skills/laravel.png", alt="").skills-item
				img(src="img/skills/Sseo.png", alt="").skills-item
				img(src="img/skills/composer.png", alt="").skills-item
				img(src="img/skills/npm.png", alt="").skills-item
				img(src="img/skills/photoshop.png", alt="").skills-item
				img(src="img/skills/php.png", alt="").skills-item
				img(src="img/skills/postcss.png", alt="").skills-item
				img(src="img/skills/foundation.png", alt="").skills-item
				img(src="img/skills/materialize.png", alt="").skills-item

		section.portafolio
			h1.portafolio-title Portafolio
			.site-box
				img(src="img/webs/bitealo.png").site-box-img
				.site-icon.bitealo
					.front-content
						i.icnonooooooo
						h3 bitealo.cl
				.site-content.bitealo-content
					h3 bitealo.cl
					p Diseño y Desarrollo
					a(href="http://www.bitealo.cl")
						p www.bitealo.cl
			.site-box
				img(src="img/webs/gitc.png").site-box-img
				.site-icon.gitc
					.front-content
						i.icnonooooooo
						h3 GITC
				.site-content.gitc-content
					h3 GITC
					p Diseño y Desarrollo
					a(href="http://www.gitc.cl")
						p www.gitc.cl
			.site-box
				img(src="img/webs/brisa.png").site-box-img
				.site-icon.brisa
					.front-content
						i.icnonooooooo
						h3 Brisa Verde
				.site-content.brisa-content
					h3 Brisa Verde
					p Diseño y Desarrollo
					a(href="http://www.brisaverde.cl")
						p www.brisaverde.cl
			.site-box
				img(src="img/webs/full.png").site-box-img
				.site-icon.full
					.front-content
						i.icnonooooooo
						h3 Full Proyect
				.site-content.full-content
					h3 Full Proyect
					p Diseño y Desarrollo
					a(href="http://www.fullproyect.cl")
						p www.fullproyect.cl


		footer