<div class="cards">
    <div class="card">

        <img src="img/foto-perfil.jpg" class="card__image">

        
        <div class="card__content">

            <div class="card__title">
                titulo
            </div>

            <div class="card__subtitle">
                Lorem, ipsum dolor.
            </div>

            <div class="card__line"></div>

            <div class="card__paragraph">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, quisquam.
            </div>

            <ul class="card__buttons">
                <div class="card__button">
                    <a href="">lorem</a>
                </div>
                <div class="card__button">
                    <a href="">lorem</a>
                </div>
                <div class="card__button">
                    <a href="">lorem</a>
                </div>
            </ul>

            <ul class="card__list">
                <li class="card__list__item">
                    <span>campo</span>valor
                </li>
                <li class="card__list__item">
                    <span>campo</span>valor
                </li>
                <li class="card__list__item">
                    <span>campo</span>valor
                </li>
            </ul>

        </div>

    </div>
</div>